{% extends "layout.html" %}

{% block body %}

	<table>
		<h3> Käyttöohjeet </h3>
		<p></p>
		<ul>
			<h4> Rekisteröityminen </h4>
				<li>Luo itsellesi tunnukset painamalla Register-linkkiä etusivun oikeasta yläreunasta.</li>
				<li>Syötä tekstikenttiin haluamasi nimi, käyttäjätunnus ja salasana, ja paina Register-nappia.</li>
				<li>Tämän jälkeen voit kirjautua sisään luomilla tunnuksillasi painamalla Login-linkkiä.</li>
				<li>Mikäli et siirry rekisteröitymis sivulta pois, syöttämäsi nimi, käyttäjätunnus tai salasana ovat liian lyhyitä/pitkiä tai salasanan varmistus ei onnistunut.</li>
			<p></p>
			<h4> Kirjautuminen </h4>
				<li>Jos sinulla on jo tunnukset palveluun, pääset kirjautumaan painamalla oikeasta yläkulmasta Login-linkkiä.</li>
				<li>Kirjaudu sisään käyttäjätunnuksellasi ja salasanallasi.</li>
			<p></p>	  
			<h4> Listojen luonti </h4>
				<li>Yläpalkin Create new list-linkistä pääset tekemään itsellesi listoja. Anna listalle nimi ja paina Create a new list-nappia.</li>
				<li>Tämän jälkeen siirryt Show all lists-sivulle, missä näät kaikki luomasi listat, voit lisätä listaan tehtäviä, tai poistaa listan.</li>
				<li>Lisää listaan tehtävä antamalla sille nimi, ja painamalla Add a job-nappia.</li>
				<li>Uuden listan voit luoda palaamalla Create a new list-sivuille.</li>
			<p></p>
			<h4> Listojen käyttö </h4>
				<li>Voit tarkastella yksittäistä listaa tarkemmin painamalla listan nimen vieressä olevaa muokkaa-linkkiä.</li>
				<li>Aukeavalla sivulla voit lisätä listaan töitä ja vaihtaa tehtävän statuksen.</li>
				<li>Työt statukset ovat: waiting - kun työtä ei ole aloitettu, in process - kun työ on kesken ja done - kun työ on saatu valmiiksi.</li>
				<li>Done-statuksen vaihtaminen muuttaa statuksen takaisin waiting-statukseski.</li>
			<p></p>
			<h4> Uloskirjautuminen </h4>
				<li>Kun haluat lopetta Listapalvelun käytön, paina oikeasta yläkulmasta linkkiä Logout.</li>
				
		</ul> 
		
	
	</table>

{% endblock %}
