{% extends "layout.html" %}

{% block body %}
	<table>
		<tr>
			<th><h4>Lists </h4></th>
		</tr>
		{% for list in lists %}
		<tr>
			<td><h5>{{ list.name }}</h5> <a href="{{ url_for('show_list', list_name=list.name, list_id=list.id) }}">muokkaa</a></td>
			{% if current_user.is_authenticated %}
				<td>
					<form action="{{ url_for('lists_delete', list_id=list.id) }}"> 
				        	<input type="submit" value="Poista lista"/>
				        
				        </form>
				</td>
				<td>	
					<form method="POST" action="{{ url_for('jobs_create', list_id=list.id) }}">

						<td>
							{{ jform.name }}
						</td>
						
						<td>
							<ul>
								{% for error in jform.name.errors %}
									<li> {{ error }} </li>
								{% endfor %}
							</ul>
						</td>	
									
						<td colspan="2">							
						<input type="submit" value="Add a job"/>
					</form>	
				</td>
			
			{% endif %}
			{% for job in jobs %}
				{% if job.list_id == list.id %}
				<tr>
					<td><li>{{ job.name }}</li></td>
				</tr>
				{% endif %}
			{% endfor %}		
		</tr>
		{% endfor %}
	</table>
{% endblock %}
