{% extends "layout.html" %}

{% block body %}
	<table>
	<form method="GET" action="{{ url_for('show_list', list_id=list.id, list_name=list.name) }}">
		<h3>{{ list.name }}</h3>
		
		{% if current_user.is_authenticated %}	
			<tr>
				{% if list.type == 1 %}
					<td> Lista on yksityinen. Muut käyttäjät eivät voi nähdä tai muokata tätä listaa. </td>
					<td>
						<form action="{{ url_for('type_change', list_name=list.name, list_id=list.id) }}">
						</form>	
						
					</td>
					                                                                                                                                                        
				{% endif %}
				{% if list.type == 2 %}
			   		<td> Listaa pystyvät tarkastelemaan ne käyttäjät, jotka ovat saaneet listan url-osoitteen. </td>
			   		<td>
			   		      	<form action="{{ url_for('type_change', list_name=list.name, list_id=list.id) }}">
			   			</form>
			 		</td>
				{% endif %}
				{% if list.type == 3 %}
			   		<td> Listaa pystyvät muokkaamaan ne käyttäjät, jotka ovat saaneet listan url-osoitteen. </td>
			   		<td>
			   		      	<form action="{{ url_for('type_change', list_name=list.name, list_id=list.id) }}">
			   			</form>
			   		</td>	
				{% endif %}
			
			</tr>
			<tr> 
			<td>
				<form action="{{ url_for('type_change', list_name=list.name, list_id=list.id) }}">
			       		<input type = "submit" value="Vaihda näkyvyyttä"/>
			     	</form>
			</td>
			</tr>
			<tr>
			                                                                                                                                                        
			<td>
				<form action="{{ url_for('lists_delete', list_id=list.id) }}">
					<input type="submit" value="Poista lista"/>
				</form>
			</td>
			</tr>		
			<td>	
				<form method="POST" action="{{ url_for('create_job', list_id=list.id, list_name=list.name) }}">
					
					<td>
						{{ form.name }}
					</td>
						<ul>
							{% for erron in form.name.errors %}
								<li> {{ error }} </li>
							{% endfor %}
						</ul>	
					
					<td colspan="2">							
					<input type="submit" value="Lisää työ"/>
				</form>	
			</td>
		{% endif %}
		{% for job in jobs %}
			{% if job.list_id == list.id %}
				<tr>
					<td>{{ job.name }}</td>
				
				{% if job.status == 1 %}
					
					<td> status: odottaa </td>
				
				{% endif %}
				{% if job.status == 2 %}
					<td> status: kesken </td>
				{% endif %}
				{% if job.status == 3 %}
					<td> status: valmis </td>
				{% endif %}
				<td></td>
				
				<td> 
					<form action="{{ url_for('change_status', job_id=job.id, list_name=list.name, list_id=list.id) }}">
						<input type="submit" value="vaihda statusta"/>
					</form> 
				</td>
				<td>
					<form action="{{ url_for('job_delete', job_id=job.id, list_name=list.name, list_id=list.id) }}">
						<input type="submit" value="poista työ"/>
					</form>
				</td>
					
				</tr>		
			{% endif %}
		{% endfor %}	
        </form>
        </table>
{% endblock %}

